{% extends 'base.html' %}

{% block page_content %}

    {% if not owners_pets_photos %}
        <!-- If there are NO pet photos -->
        <h1 class='text-center'>No pet photos yet</h1>
        <div class=" row d-flex justify-content-center align-content-center">
            <!-- Button to Add a new Photo -->
            <a href="{% url 'add pet photo' %}" class="btn btn-lg btn-secondary row align-self-baseline">Add Photo</a>
        </div>
    {% else %}
        <!-- If there are pet photos -->
        <h1 class='text-center'>All Pet Photos</h1>
        <div class="container mb-5">
        <div class="row mb-5">

        {% for pet_photo in owners_pets_photos %}
            <!-- First Card with Info for the Pet -->
            <div class="card ml-3 mb-3" style="width: 18rem;">
                <!-- Image -->
                <img src="{{ pet_photo.photo.url }}"
                     class="card-img-top"
                     style="object-fit: cover"
                     width=300px
                     height=300px
                     alt=" {{ pet_photo.description }} ">
                <div class="card-body">
                    <!-- Info for each pet on the photo -->
                    {#                    <h5 class="card-title">Andrew, age: 3</h5>#}
                    {#                    <h5 class="card-title">Otto</h5>#}
                    {% for tagged_pet in pet_photo.tagged_pets.all %}
                        <h5 class="card-title">{{ tagged_pet.name }}
                            {% if tagged_pet.date_of_birth %}
                                , age: {{ tagged_pet.age }}
                            {% endif %}
                        </h5>
                    {% endfor %}
                    <!-- First 30 chars from the description -->
                    <p class="card-text">{{ pet_photo.description|truncatechars:30 }}</p>
                    <!-- Button to the Photo Details Page -->
                    <a href="{% url 'pet photo details' pet_photo.id %}" class="btn btn-primary">See details</a>
                </div>
            </div>
            <!-- End First Card -->
        {% endfor %}

    {% endif %}
</div>
</div>
    <!-- End Pet Photos -->
{% endblock %}

